{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Main Home Page{% endblock title %}

{% block content %}

    <div class="well">

        <div class="row">
            <div class="col-md-2">
                <a href="#" class="thumbnail">
                    <img src="{% static 'imgs/2000px-Tic_tac_toe.svg.png' %}" alt="" class="img-responsive">
                </a>
            </div>
            <div class="col-md-10">
                <h3>Welcome to Motius Tic Tac Toe, Log In to Play! :o)</h3>
            </div>

        </div>


    </div>

{% endblock content %}

